/*style for backend page*/
label.mt_label{
    display: block;
    cursor: default;
    text-align: left;
    }
span.mt_optional{
    font-size: 8pt;
    color: grey;
    font-style: italic;
    }
    
.mt_field{
    margin-top: 1px;
    }
    
fieldset.mt_person{
    display: inline-block;
    border: grey 2px solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 680px;
    width: 254px;
    vertical-align: text-bottom; 
    }
.mt_person legend{
    font-size: 20px;
    }
.mt_person input, textarea, img{
    width: 250px;
    }
.mt_person img{
    border: 2px solid #ddd;
    margin-top: 5px;
    height: 200px;
    object-fit: cover;
    }
#person_new {
    display: none;
    }
    
#addnew{
    color:black;
    cursor: pointer;
    }
#addnew #plus{
    font-size: 200px;
    height: 50px;
    margin-top: 250px;
    }
#addnew #text{
    margin-top:30px;
    }
input.button.button-primary.mt_save, a.mt_delete {
    vertical-align: middle;
    margin: 10px;
    }
input.button.button-primary.mt_save {
    width: 50px;
    }
a.mt_delete{
    color: red;
    }