/*style for meet the technicians page*/
#mt {
    text-align: center;
    }
#mt .person{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 240px;
    height: 250px;
    padding: 10px;
    padding-top: 160px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s, margin .5s, padding 1s;
    transition: width .5s, height .5s, transform .5s, margin .5s, padding 1s;
    }
#mt .text{
    line-height: 110%;
    margin-bottom: 5px;
    border-radius: 5px;
    background: rgba(256, 256, 256, 0.7);
    /*width: 190px;*/
    height: 30px;
    vertical-align: middle;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 30px;
    }
#mt .person:hover .text{
    width: auto;
    height: auto;
    padding: 15px;
}
#mt .person:hover {
    padding-top: 20px;
    min-height: 290px;
    width: 290px;
    margin: 0px;
    /*background-image: none !important;*/
    overflow: auto;
    }

#mt .person img{
    padding: 0;
    border: none;
    border-radius: 5px;
    height: auto;
    width: 125px;
    }
#mt .field:not(.name):not(.title){
    opacity: 0;
    display: none;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    }
#mt .label{
    display: none;
    }
#mt .person:hover .field {
    display: block !important;
    opacity: 1;
    }
#mt .person:hover .label {
    margin-top: 6px;
    display: block;
    font-weight: bold;
}
.name {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 10px;
    }
#mt .person:hover .name{
    margin-bottom: 20px;
    }
.person#join .call-to-action{
    margin-top: 20px;
    width: 100%;
    }
.person#join .call-to-action .button {
    background-color: #1874cd;
    font-size: 14pt;
    padding: 10px 20px;
    }
.person#join .call-to-action .button:hover {
    background-color: #4d99e2;
    }
.person#join .field.name{
    font-size: 40pt;
    margin-top: 20px;
    transition: font-size 1s;
}
.person#join:hover .field.name{
    /*font-size: 20pt;*/
    margin: 30px 0px;
}
.person#join:hover{
    padding: 0px;
}

.field.description{
    padding-top: 10px;
    }