/*style for meet the technicians page*/
#mt {
    text-align: center;
    vertical-align: middle;
    }
#mt .person {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s, margin .5s;
    transition: width .5s, height .5s, transform .5s, margin .5s;
    }
#mt .person:hover {
    height: 240px;
    width: 240px;
    margin: 0px;
    }
#mt>.person>img{
    padding: 0;
    border: none;
    border-radius: 5px;
    height: auto;
    width: 125px;
    }
#mt .field:not(.name):not(.title){
    opacity: 0;
    display: none;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    }
#mt .person:hover > .field {
    display: block !important;
    opacity: 1;
    }
.name {
    font-size: 20pt;
    font-weight: bold;
    
    }